# Python virtual environment
venv/
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Ignore dataset files, but keep folder structure
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Large model outputs
outputs/models/

# Spark temporary files
spark-warehouse/
metastore_db/
derby.log

# Logs
*.log